#  Основной синтаксис:
# Каждая строка - отдельный шаблон 
# Пустые строки игнорируются
# Строки начинающиеся с # являются комментариями
# Символ слеша "/" в начале строки указывает на текущую папку (где лежит .gitignore)
# Звёздочка(*) заменяет любое количество символов
# Две звёздочки(**) используются для указания всех подпапок.
# Восклицательный знак(!) в начале строки инвертирует шаблон (используется для исключений)
# Для экранирования спецсимволов используется обратный слэш "\". 
# Для игнорирования всей директории, правило должно оканчиваться на слэш(/), в противном случае правило считается именем файла.



# моя часть - для винды, cmake, MinGW, редактор кода Visual Studio Code
# в MinGW для кода на C++ используется компилятор g++, для кода на С используется компилятор GCC.
# папка куда cmake делает свои дела
/build/
# исполняемый файл на винде
/learn_minecraft.exe 
# настройки IDE vscode
/.vscode/


# часть от автора проекта - он программирует на маке в clion, cmake, MinGW
# Project exclude paths
/cmake-build-debug/
/cmake-build-release/
/engine_log.txt
#/engine/
